/* Universal styles */
html, body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #303030;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1, h2, h3 {
  font-family: 'Francois One', sans-serif;
}

h1 {
  font-size: 5rem;
  line-height: 1;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 599px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 4rem;
}

@media only screen and (max-width: 599px) {
  h2 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 2.5rem;
}

h4, p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

h4 {
  font-weight: 700;
  padding: 1rem 0 0.5rem 0;
}

p {
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #303030;
}
/* Header styles */

header {
  height: 4rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #86DDB2;
  width: 100%;
  position: fixed;
  margin: 0 auto;
}

.branding {
  display: flex;
  align-items: center;
}

header img {
  margin-left: 1.5rem;
  height: 2.5rem;
}

.colmar {
  font-weight: bold;
  padding-right: 0;
}

.academy {
  text-shadow: 2px 1px 1px #303030;
  color: #d6d6d6;
}

nav {
  margin-right: 1.5rem;
}

nav a:hover {
  font-weight: bold;
  color: white;
}

header span {
  padding-right: 1rem;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 599px) {
  header {
    display: none;
  }

  .mobile-header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #86ddb2;
    width: 100%;
    position: fixed;
    margin: 0 auto;
  }

  .mobile-header img {
    margin-left: 0;
  }
}

/* Main content styles */
/* Jumbotron */

.container {
  display: flex;
  margin: 0 auto;
}

.jumbotron {
  padding: 6rem 1.5rem 2rem 1.5rem;
  background-color: #d6d6d6;
}

.jumbotron-image {
  width: 60%;
}

.jumbotron-image img {
  width: 100%;
  height: auto;
}
.jumbotron-text {
  margin: auto 2rem;
  max-width: 35%
}

.intro {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
}

button {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-color: #e57661;
  color: white;
  border: none;
  transition: color 1s ease 200ms;
  transition: background-color 1s ease 200ms;
  transition: box-shadow 100ms ease;
}

button:hover {
  background-color: #86DDB2;
  color: #303030;
}

button:active {
  box-shadow: 5px 5px #303030;
}

@media only screen and (max-width: 599px) {
  .jumbotron {
    flex-direction: column;
    padding: 4rem 0 2rem 0;
  }

  .jumbotron-image {
    width: 100%;
  }

  .jumbotron-text {
    max-width: 100%;
    margin: 2rem 1rem;
  }

  .intro {
    font-size: 2.1rem;
    line-height: 1.3;
  }
}

/* First content section styles */

.first-content-block {
  background-color: #303030;
  color:  #d6d6d6;
  padding: 2rem 1.5rem;
}

.keep-practicing {
  width: 60%;
}

@media only screen and (max-width: 599px) {
  .keep-practicing {
    display: none;
  }
}

.keep-practicing img {
  width: 100%;
  height: auto;
}

.caption {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.triple-panels {
  width: 40%
}

@media only screen and (max-width: 599px) {
  .triple-panels {
    width: 100%;
  }
}

.info-panel {
  display: flex;
  padding: 1rem 0 1rem 2rem;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 599px) {
  .info-panel {
    flex-direction: column;
    padding: 0;
  }
}

.info-panel:hover {
  background-color: #d6d6d6;
  color: #303030;
}

.info-panel:first-child {
  padding: 0 0 1rem 2rem;
}

@media only screen and (max-width: 599px) {
  .info-panel:first-child {
    padding: 0;
  }
}

.info-panel-image {
  width: 35%;
}

.info-panel-image-mobile {
  display: none;
}

@media only screen and (max-width: 599px) {
  .info-panel-image {
    display: none;
  }

  .info-panel-image-mobile {
    display: block;
    width: 100%;
  }

  .info-panel-image-mobile img {
    width: 100%;
  }
}

.info-panel-image img {
  width: 100%;
  height: auto;
}

.info-panel-text {
  width: 55%;
  padding: 1rem;
  margin: auto 0;
}

@media only screen and (max-width: 599px) {
  .info-panel-text {
    width: 100%;
    padding-bottom: 2rem;
  }

  .info-panel-text:last-child {
    padding-bottom: 1rem;
  }
}

.info-panel-text a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #e57661;
  transition: all 0.3s ease;
}

.info-panel-text a:hover {
  background-color: #303030;
  padding: 0.5rem;
}

.info-panel-text a:visited {
  color: #7b2a3b;
}

/* Start learning section styles */

.centred-heading {
  padding: 2rem 0;
  justify-content: center;
  background-color: #86ddb2;
}

@media only screen and (max-width: 599px) {
  .centred-heading {
    padding: 2rem 0 1rem 0;
  }
}

.start-learning {
  background-color: #86ddb2;
  display: flex;
  justify-content: center;
  padding: 0 4.5rem;
  flex-wrap: wrap;
}

.start-learning-mobile {
  display: none;
}

@media only screen and (max-width: 599px) {
  .start-learning {
    display: none;
  }

  .start-learning-mobile {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 2rem 1rem;
    background-color: #86ddb2;
  }

  .start-learning-mobile h3 {
    font-size: 2rem;
    padding: 0.75rem;
  }

  .learning-topic-mobile {
    background-color: #d6d6d6;
    padding: 0.75rem;
    margin: 0.5rem;
  }

  .learning-topic-mobile:hover {
    background-color: #e57661;
  }
}

.learning-topic {
  width: 30%;
  margin: 0 0.6rem 2rem 0.6rem;
  background-color: white;
  transition: all 0.5s ease;
}

.learning-topic:hover {
  background-color: #e57661;
}

.learning-topic img {
  width: 100%;
}

.learning-topic-text {
  padding: 1rem;
}

/* Thesis exhibit section styles */

.thesis {
  background-color: #303030;
  color: #e57661;
  padding-bottom: 0;
}

@media only screen and (max-width: 599px) {
  .thesis {
    padding-bottom: 1rem;
  }
}

.thesis-exhibit-section {
  background-color: #303030;
  color:  #d6d6d6;
  padding: 2rem 1.5rem;
}

.thesis-video {
  width: 60%;
}

.thesis-video-mobile {
  display: none;
}

@media only screen and (max-width: 599px) {
  .thesis-exhibit-section {
    display: none;
  }

  .thesis-video-mobile {
    display: block;
    padding-bottom: 1.5rem;
  }
}


/* Footer styles */

footer {
  padding: 1rem 1.5rem 4rem 1.5rem;
  display: flex;
  justify-content: space-between
}

footer a {
  padding-left: 1rem;
}

.image-link {
  padding: 0;
}
